* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  background-color: #dedede;
  color: #333;
}

.gd-card {
  margin: 20px;
  padding: 20px;
  font-family: "Dancing Script", cursive;
  box-shadow: 6px 4px 4px 6px;
  border-radius: 6px;
}
.data {
  position: relative;
  display: flex;
}
.img-t img {
  width: 480px;
  height: 360px;
  box-shadow: 10px 6px 6px;
}
.ge-text {
  margin: 20px;
  font-size: 20px;
}
.app-title {
  text-align: center;
  font-weight: normal;
  font-size: 2.6rem;
}

.head1{
    font-size: 2.3rem;
    font-weight: bold;
    text-align: center;
} 

.footer {
    font-size: 1.1rem;
    color: #888;
    text-align: center;
    margin: 0;
  }
#aboutus{
  margin:auto;
  margin-left: 20px;
  margin-right: 20px;
  padding: 30px;
  box-shadow: 10px 6px 6px;

}
  .about-text{
    text-align: center;
    margin: auto;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 20px;
  }

  .contactus{
      text-align: center;
      margin: auto;
      margin-top: 30px;
      margin-bottom: 20px;
      padding: 20px;
      width: 1200px;
      box-shadow: 10px 10px 10px 10px;
      border-radius: 8px;
  }

.contactus input{
    width: 690px;
    height:40px;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.contactus label {
  font-size: 25px;
}
.contactus textarea{
    font-size: 25px;
}

.blog-post{
  width: 350px;
  font-size: 30px;
  box-shadow: 3px 4px 4px 2px ;
  border-radius: 6px;
}
.blog-post:hover{
  color: white;
  background-color:black
}
footer{
  padding: 20px;
  display: flex;
  background-color: black;
  color: white;
  text-align: center;
}
footer li {
  list-style-type: none;
}
footer ul {
  margin-left: 30px;
  margin-right: 30px;
}
footer ul li a{
  text-decoration: none;
}
.logo1{
  width:120px;
  height:80px;
  margin-right: 10px;
}

/* @media only screen and (max-width: 700px) {
    .data{
        position: absolute;
        
        }
  } */
